@import url(https://fonts.google.com/specimen/Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 400px;
    color: hsl(229, 6%, 66%);
    font-weight: lighter;
    text-align: center;
}

.sub__header {
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
}

.text {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con {
    width: 220px;
    /* height: 120px; */
    margin-top: 20px;
    background-color: aqua;
    border-radius: 8px;
    padding: 20px;
}

.middle {
    margin-left: 20px;
    margin-right: 20px;
}

.con__img {
    width: 40px;
    margin-top: 20px;
    margin-left: 140px;
}

.topic {
    font-weight: bolder;
}

.info {
    margin-top: 10px;
    font-size: 11px;
    color:  hsl(0, 0%, 98%);
}
    


